body{
    background: aqua;
    padding: 0;
    margin: 0;
}

header{
    height: 100px;
    background: #00c7c7;
}

ul.buttons{
    display: block;
    list-style: none;
    max-width: 700px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

ul.buttons li{
    width: 50%;
    float: left;
    margin: 0;
}
ul.buttons li img{
    width: 100%;
}

ul.buttons li img:hover{
    opacity: .6;
}

ul.buttons li img.playing{
    animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
